<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/user/addUser" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name"  placeholder="Enter  name">
         <label for="gender">Gender</label>
         <input type="text" name="gender"  placeholder="Enter  gender">
          <label for="department">Departement</label>
          <input type="text" name="department"  placeholder="Enter  departement">
           <label for="email">Email</label>
           <input type="text" name="email"  placeholder="Enter  email">
            <label for="basicSalary">basicSalary</label>
            <input type="text" name="basicSalary"  placeholder="Enter  salary">
             <label for="startDate">startDate</label>
      <input type="text" name="startDate"  placeholder="Enter your start date">
     <button type="submit">Add</button>
    </form>
</body>
</html>
