<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <%  image.forEach((ele)=>{  %>
           <img src="/<%=ele%>" width="200px" height="200px">


      <% }) %>

      <% for(let i=1;i<=totalpages;i++){  %>
        <a href="/index?page=<%=i%>"></a>
    <%  }%>
</body>
</html> -->




















